{% extends 'base.html' %}
{% block title %}Procurados{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">{% endblock %}
{% block conteudo %}
<div style="background-image: url(/static/fundomadeira.jpg);">
<h1 class="titulo">Procurados pela Marinha</h1>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Ace.jpg')}}" width="60%" alt="Ace">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='BarbaBranca.jpg')}}" width="60%" alt="BarbaBranca">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Brook.jpg')}}" width="60%" alt="Brook">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Chopper.jpg')}}" width="60%" alt="chopper">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Doflamino.jpg')}}" width="60%" alt="doflamingo">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Luffy.jpg')}}"width="60%" alt="luffy">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Moriah.jpg')}}"width="60%" alt="moriah">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Nami.jpg')}}" width="60%" alt="nami">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Roger.jpg')}}"width="60%" alt="roger">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Sanji.jpg')}}"width="60%" alt="sanji">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Shanks.jpg')}}"width="60%" alt="shanks">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Usopp.jpg')}}"width="60%" alt="usopp">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Crocodile.jpg')}}"width="60%" alt="Crocodile">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Kaido.jpg')}}"width="60%" alt="Kaido">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Zoro.jpg')}}"width="60%" alt="Zoro">
      </div>
      <div class="col-sm">
        <img class="align-self-start mr-3 img-thumbnail" src="{{ url_for('static', filename='Bartolomeo.jpg')}}"width="60%" alt="Bartolomeo">
      </div>
    </div>
  </div>
</div>
    {% endblock %}










